<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Weightlifting_Comp_Warmup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Weightlifting_Comp_Warmup.Properties.Settings>
            <setting name="int_Barbell" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="int_snatch_Sec_Stage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="int_snatch_Wgt_Opener" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="int_snatch_Sec_End" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="int_snatch_Lifts_Out" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="int_cj_Sec_Stage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="int_cj_Wgt_Opener" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="int_cj_Sec_End" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="int_cj_Lifts_Out" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="int_cj_Sec_Break" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="int_cj_snLifts_Out" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bool_Beep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_snatch_OpenerWarmup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bool_cj_OpenerWarmup" serializeAs="String">
                <value>False</value>
            </setting>
        </Weightlifting_Comp_Warmup.Properties.Settings>
    </userSettings>
</configuration>